* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}

main {
    margin-bottom: 40px;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 50px 0px;
    background-color: #666;
    color: #eee;
}

footer a {
    color: #eee;
}

footer a:hover {
    color: antiquewhite;
}

.action {
    width: 100px;
}