* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 150px;
    color: #666;
    background-color: #eee;
}

header, footer {
    background-color: #666;
    color: #eee;
}

header a, footer a {
    color: #eee;
}

header a:hover, footer a:hover {
    color: antiquewhite;
}

main {
    padding-top: 25px;
    padding-bottom: 80px;
}

footer {
    position: absolute;
    bottom: 0;
    padding-top: 50px;
    width: 100%;
    height: 150px;
}

.empty-column {
    width: 100px;
}

.pagination {
    margin-bottom: 20px;
}

#messages   {
    height: 50px;
}

#title  {
    padding: 25px 20px;
}

#empty {
    padding: 5% 0 10% 0;
    text-align: center;
}
