{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact box</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--    {{ form.media.css }}-->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Select2 CDN-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <script src="{% static 'django_select2/django_select2.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


    <!-- Local scripts -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand navbar-default bg-dark flex-column">
        <div class="container">
            <div class="navbar-header">
                <h1>Contact box</h1>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav flex-row">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact-list' %}">Contacts
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'group-list' %}">Groups</a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown">| Logged as {{ user }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item nav-item">
                                <a href="{% url 'change-password' %}" style="color: #666">Change password</a></li>
                            <li class="dropdown-item nav-item">
                                <a href="{% url 'logout' %}" style="color: #666">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log in </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    </div>
</header>
<main class="container">
    <div class="container" id="messages">
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}
                                          data-dismiss="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</main>
<footer class="page-footer text-center bg-dark">
    <div class="container">
        | <a href="http://www.coderslab.pl">CodersLab</a> |
        <a href="https://www.djangoproject.com">Django Documentation</a> |
        <a href="https://github.com/ndestrieux/contact_app">Contact box project source</a>
        |
    </div>
</footer>
<!--{{ form.media.js }}-->
</body>
</html>