{% extends "contacts_app/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <h2>Delete email address</h2>
        <form id="empty" method="post">
            <p>Are you sure you want to delete email <b>{{ object }}</b>?</p>
            <input type="submit" class="btn btn-outline-danger" value="Delete">
            <a href="{% url 'contact-details' object.person_id%}" class="btn btn-outline-primary">Cancel</a>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}