{% extends "contacts_app/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <h2>Manage contact groups</h2>
        <a href="javascript:void(0)" id="selectAll">Select all</a>
        | <a href="javascript:void(0)" id="deselectAll">Clear</a>
        <form method="post">
            {{ form|crispy }}
            <input type="submit" class="btn btn-outline-primary" value="Save">
            <a href="{% url 'contact-details' person.id %}" class="btn btn-outline-primary">Cancel</a>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}