{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact box</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href={% static '/style.css' %}>
</head>
<body>
<header>
    <div class="container my-5 text-center">
        <img src="{% static "logo.png" %}" alt="My image">
    </div>
    <div class="container my-5">
        <h1 class="logo">Contact box</h1>
        <strong>
            <nav>
                <ul class="menu">
                    <li><a href="{% url 'contact-list' %}">Home</a></li>
                </ul>
            </nav>
        </strong>
    </div>
</header>
<hr>
<main>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}
                                          data-dismiss="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</main>
<footer class="page-footer text-center">
    <div class="container">
        | <a href="http://www.coderslab.pl">CodersLab</a> |
        <a href="https://www.djangoproject.com">Django Documentation</a> |
        <a href="https://docs.djangoproject.com/en/2.1/ref/class-based-views/">Class-based view Django Documentation</a> |
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>