{% extends "contacts_app/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <h2>Delete group</h2>
        <form id="empty" method="post">
            <p>Are you sure you want to delete group <b>{{ object }}</b>? </p>
            <input type="submit" class="btn btn-outline-danger" value="Delete">
            <a href="{% url 'group-list' %}" class="btn btn-outline-primary">Cancel</a>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}