{% extends "contacts_app/base.html" %}

{% block content %}

    <div class="container">
        <h2>Contact list</h2>
    </div>
    <div class="container">
        {% if object_list %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Last name</th>
                    <th>First name</th>
                    <th class="empty-column"></th>
                    <th class="empty-column"></th>
                </tr>
                </thead>
                <tbody>
                {% for contact in object_list %}
                    <tr>
                        <td>{{ contact.last_name }}</td>
                        <td><a href="{% url 'contact-details' contact.id %}">{{ contact.first_name }}</a></td>
                        <td>
                            <a href="{% url 'update-contact' contact.id %}"
                               class="btn btn-primary btn-xs" data-toggle="tooltip">Edit</a>
                        </td>
                        <td>
                            <a href="{% url 'delete-contact' contact.id %}"
                               class="btn btn-danger btn-xs" data-toggle="tooltip">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
            <div class="container">
                <p><a href="{% url 'create-contact' %}" class="btn btn-outline-primary">New contact</a></p>
            </div>
        {% else %}
            <div id="empty">No contact registered yet, <a href="{% url 'create-contact' %}">add first contact</a></div>
        {% endif %}
    </div>

{% endblock %}